<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="vspcmodules"   type="VSPC.Loader.Config.ModuleConfiguration, VSPC.Loader" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <vspcmodules>
    <modules>
      <module type="VSPC.UI.WPF.WPFModule, VSPC.UI.WPF"></module>
      <module type="VSPC.FSD.FSDModule, VSPC.FSD"></module>
      <module type="VSPC.SimInterface.SimInterfaceModule, VSPC.SimInterface"></module>
      <module type="VSPC.UI.Developer.DeveloperModule, VSPC.UI.Developer"></module>
    </modules>
  </vspcmodules>
  
  <startup><supportedRuntime version="v2.0.50727"/></startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="mc" xsi:type="MethodCall" className="VSPC.Loader.App, VSPC.Loader" methodName="LogMethod">
        <parameter layout="${level}" />
        <parameter layout="${message}" />
      </target>
      <target xsi:type="File" name="file" fileName="vspc.log" autoFlush="true" archiveAboveSize="100000" maxArchiveFiles="5"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="mc" />
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  
</configuration>
