<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target xsi:type="RichTextBox" name="textboxtarget" autoScroll="true" useDefaultRowColoringRules="true" controlName="richTextBoxMessages" formName="Form1" layout="${longdate}|${level:uppercase=true}|${message}"/>
			<target xsi:type="File" name="filetarget" fileName="${basedir}/logs/logfile.txt"   layout="${longdate}|${level:uppercase=true}|${message}"
            archiveAboveSize="1000000" 
            maxArchiveFiles ="5" 
            archiveNumbering="Rolling" />

		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="textboxtarget" />
			<logger name="*" minlevel="Trace" writeTo="filetarget" />
		</rules>
	</nlog>

</configuration>
